body {
    margin: 0;
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 0;
}

header {

    text-align: center;
    background-color: lightsteelblue;
}

#left {
    background-color: lightblue;
    min-height: 200px;
    float: left;
    width: 75%;
}

#right {
    background-color: lightcoral;
    min-height: 200px;
    float: left;
    width: 25%;
}

footer {

    text-align: center;
    background-color: lightgreen;
}

/*Hierna enkel definieren wat er moet gebeuren bij een bepaalde grootte scherm, hierboven is algemeen*/
@media screen and (max-width: 768px) {
    #left {
        width: 100%;
        background-color: deeppink;
    }

    #right {
        width: 100%;
    }

    footer {
        display: none; /*footer niet weergeven*/
    }
}