body {
    font-family: Helvetica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

p {
    width: 60%;
    border-image: url(../images/border-image.png) 16 repeat;
    border-style: solid;
    border-width: 8px;
    padding: 5px;
}